#timm
transformers
datasets
tokenizers
qrcode[pil]
pillow
treepoem
segno
albumentations
scikit-learn
timm==0.9.6
tensorboardX==2.6.2.2
onnx==1.14.1
onnx_graphsurgeon==0.5.8
onnxruntime==1.15.1
polygraphy==0.48.1
